language: node_js
node_js:
  - "10"
dist: trusty
sudo: required

addons:
  chrome: stable

cache:
  directories:
    - node_modules

branches:
  only:
    - master

before_script:
  - npm install -g @angular/cli

script:
  - ng lint
  - ng test ngx-split-button --watch=false --browsers=ChromeHeadless --code-coverage
  - ng build examples --prod --base-href /ngx-split-button/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep-history: true
  local_dir: ./dist/examples
  on:
    branch: master

after_success:
  - bash <(curl -s https://codecov.io/bash)
